html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

header{
    padding: 0.7em 5em 0.7em 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 50px -24px #8a8a8a;
}

header i{
    font-size: 1.3em;
    color: rgb(117, 117, 117);
}

main{
    display: flex;
    margin: auto;
    max-width: 1400px;
}

footer{
    display: flex;
    flex-wrap: wrap;
}

footer span{
    margin: 0.3em 1em 0.3em 0;
    color: rgb(163, 163, 163);
}

#filter{
    border-bottom: 1px solid rgb(233, 233, 233);
    color: rgb(129, 129, 129);
    display: flex;
    margin-bottom: 2em;
    font-weight: 600;
}

#filter div{
    padding: 0 0.4em 0 0.4em;
}

#filter div:nth-child(2){
    padding-bottom: 0.5em;
    color: black;
    border-bottom: 1px solid black;
}

#membership{
    padding: 0.5em;
    border: 0.1em rgb(117, 117, 117) solid;
    border-radius: 980px;
}

#logo{
    width: 250px;
}

#login{
    display: flex;
    align-items: center;
}

#login *{
    margin-left: 1em;
}

#account{
    width: 35px;
}

#left{
    width: 70%;
    padding: 3em 0 0 0;
    margin: 0 3em 0 0;
}

#right{
    width: 30%;
    padding: 3em 0 0 3em;
    border-left: 1px solid rgb(233, 233, 233);
}

#right h3{
    font-size: 18px;
}

@media screen and (max-width: 850px){
    section#right{
        display: none;
    }

    section#left{
        margin: auto;
    }
}

#mediumtwitter{
    display: flex;
    align-items: center;
    justify-content: center;
}

#mediumtwitter img{
    width: 30px;
}

#groupcard{
    display: flex;
    flex-direction: column;
}

#twitterconnect{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(233, 233, 233);
    padding-bottom: 1.4em;
    max-width: 260px;
}

#twitterconnect div{
    text-align: center;
}

#twitterconnect a{
    color: rgb(152, 152, 152);
}

#topics{
    display: flex;
    flex-wrap: wrap;
}

#topics span{
    background-color: rgb(242, 242, 242);
    padding: 0.4em 0.7em;
    border-radius: 300px;
    margin: 0 1em 1em 0;
}

.cardwriter{
    display: flex;
    align-items: center;
}

.cardwriter img{
    width: 20px;
    border-radius: 5px;
    margin-right: 0.5em;
}

.cardwriter p{
    margin-right: 0;
    font-size: 0.8em;
}

.cardwriter p span:nth-child(2){
    color: rgb(117, 117, 117);
}

.cardwriter p span:nth-child(1), .cardwriter p span:nth-child(3){
    font-weight: 600;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}

.card h2{
    margin: 0 0 0.3em 0;
}

.cardimg{
    width: 200px;
    height: 120px;
    margin-left: 1em;
}

.cardimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text{
    color: rgb(117, 117, 117);
}

.text p{
    margin: 0 0 0.5em 0;
    max-height: 36px;
    max-width: 732px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.info{
    display: flex;
    justify-content: space-between;
    color: rgb(117, 117, 117);
}

.info span{
    font-size: 0.8em;
}

.cardwhrite .info span:nth-child(5){
    background-color: rgb(242, 242, 242);
    padding: 0.4em 0.7em;
    border-radius: 300px;
}

.info div:nth-child(2){
    color: black;
}

.cardwhrite{
    width: 100%;
}

.button{
    display: flex;
    align-items: center;
    border: 1px rgb(152, 152, 152) solid;
    padding: 0.6em 0.9em;
    border-radius: 300px;
    margin-bottom: 1em;
}

.button img{
    width: 20px;
}

.followed{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.followinfo{
    display: flex;
    align-items: center;
}

.followinfo img{
    width: 50px;
    border-radius: 50%;
    margin-right: 1em;
}

.followinfo p:nth-child(1){
    font-weight: bold;
    margin: 0 0 0.5em 0;
}

.followinfo p:nth-child(2){
    color: rgb(117, 117, 117);
    margin: 0.5em 0 0 0;
    font-size: 0.8em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    max-height: 30px;
    max-width: 250px;
}

.space{
    margin-bottom: 3em;
}

.saved{
    margin-bottom: 1em;
}

.saved h2{
    margin: 0;
}

.saved div:nth-child(2){
    font-size: 0.7em;
}

.saved div:nth-child(3){
    font-size: 0.8em;
    color: rgb(117, 117, 117);
    display: flex;
    align-items: center;
}

.saved div:nth-child(3) span{
    margin-right: 0.5em;
}

.see{
    color: rgb(87, 143, 79);
}